<td scope="row" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; display: table-cell;">
    <div class="col-md-4" style="display: grid; width: 30%; float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
        <span>Passengers</span>
        <!--First + Last name user-->
        <span><strong>{userFullName}</strong></span>
    </div>
    <div class="col-md-4" style="display: grid; width: 30%; float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
        <span>{numberType} number</span>
        <!--Ma confirm-->
        <span><strong>{number}</strong></span>
    </div>
    <div class="col-md-4" style="display: grid; width: 30%; float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
        <span>Price paid</span>
        <!--Tong tien da thanh toan-->
        <span><strong>$ {totalPrice}</strong></span>
    </div>
</td>