<div class="body container background">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="background-color: #ddd; font-size: 17px;">Traverler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {Heading}
                    </tr>
                </tbody>
            </table>


            <ul style="list-style: none; padding-inline-start: unset;">
                {tickets}
            </ul>
        </div>
    </div>
</div>