
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<!-- subheader -->
<section id="subheader">
    <div class="container-fluid m-5-hor">
        <div class="row">
            <div class="col-md-12">
                <h1 class="big-heading">
                    About Us
                </h1>
                <p>Varius blandit sit amet</p>
            </div>
        </div>
    </div>
</section>
<!-- subheader end -->
<!-- section about -->
<section id="about-us-1" class="whitepage no-padding">
    <div class="container-fluid">
        <div class="row">

            <div class="image-container autoheight-1 col-lg-6 hidden-md hidden-sm hidden-xs pull-left " data-animation="fadeInLeft" data-time="0"></div>

            <div class="col-lg-6 autoheight-1">
                <div class="p-90">
                    <h2 class="big-heading space-title">
                        A Perfect Place Vacation
                        <span class="devider-cont"></span>
                    </h2>

                    <p class="intro">
                        Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                    </p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis.
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</section>
<!-- section about end -->
<!-- section about -->
<section id="about-us-2" class="no-padding whitepage">
    <div class="container-fluid">
        <div class="row">

            <div class="image-container autoheight-2 col-lg-6 hidden-md hidden-sm hidden-xs pull-right " data-animation="fadeInRight" data-time="0"></div>

            <div class="col-lg-6 autoheight-2">
                <div class="p-90">
                    <h2 class="big-heading space-title">
                        About Our Service
                        <span class="devider-cont"></span>
                    </h2>

                    <p class="intro">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis.

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</section>
<!-- section about end -->
<!--  gallery home -->

<!--  gallery home end -->
<!-- testimony -->
<section id="testimony" class="color-page no-padding">
    <div class="container-fluid">
        <div class="row">

            <div class="image-container autoheight col-lg-6 pull-right hidden-md hidden-sm hidden-xs " data-animation="fadeInRight" data-time="300"></div>

            <div class="col-lg-6 col-md-12 autoheight">

                <div class="p-90">
                    <div id="owl-testimonial" class="owl-carousel owl-theme">

                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                            </blockquote>
                            <img alt="imagetesti" class="tal" src="~/Content/img/img-testi-1.png">
                            <h3>Emma Watson</h3>
                        </div>

                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                            </blockquote>
                            <img alt="imagetesti" class="tal" src="~/Content/img/img-testi-1.png">
                            <h3>Emma Watson</h3>
                        </div>

                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                            </blockquote>
                            <img alt="imagetesti" class="tal" src="~/Content/img/img-testi-1.png">
                            <h3>Emma Watson</h3>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- testimony end -->
<!-- section team -->
<!--<section id="team">
    <div class="container-fluid">
        <div class="row">-->

            <!-- spacer -->
            <!--<div class="space-half"></div>-->

            <!-- team -->
            <!--<div class="onStep" data-animation="fadeInUp" data-time="300">
                <div class="owl-carousel" id="owl-team">

                    <div class="item">
                        <div class="team" style="background-image:url(../../Content/img/img-testi-1.png)">
                            <div class="hovereffect">
                                <div class="overlay-2">
                                    <div class="content">
                                        <div class="heading">
                                            John White
                                            <span class="devider-recent-2"></span>
                                        </div>
                                        <div class="subheading">MARKETING MANAGER</div>
                                        <div class="social-icons">
                                            <a href="#"><span class="ti-facebook"></span></a>
                                            <a href="#"><span class="ti-dribbble"></span></a>
                                            <a href="#"><span class="ti-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="team" style="background-image: url(../../Content/img/img-testi-1.png)">
                            <div class="hovereffect">
                                <div class="overlay-2">
                                    <div class="content">
                                        <div class="heading">
                                            Rachel Keating
                                            <span class="devider-recent-2"></span>
                                        </div>
                                        <div class="subheading">MANAGING DIRECTOR</div>
                                        <div class="social-icons">
                                            <a href="#"><span class="ti-facebook"></span></a>
                                            <a href="#"><span class="ti-dribbble"></span></a>
                                            <a href="#"><span class="ti-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="team" style="background-image: url(../../Content/img/img-testi-1.png)">
                            <div class="hovereffect">
                                <div class="overlay-2">
                                    <div class="content">
                                        <div class="heading">
                                            Smith Pro
                                            <span class="devider-recent-2"></span>
                                        </div>
                                        <div class="subheading">PRESIDENT DIRECTOR</div>
                                        <div class="social-icons">
                                            <a href="#"><span class="ti-facebook"></span></a>
                                            <a href="#"><span class="ti-dribbble"></span></a>
                                            <a href="#"><span class="ti-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="team" style="background-image: url(../../Content/img/img-testi-1.png)">
                            <div class="hovereffect">
                                <div class="overlay-2">
                                    <div class="content">
                                        <div class="heading">
                                            John White
                                            <span class="devider-recent-2"></span>
                                        </div>
                                        <div class="subheading">MARKETING MANAGER</div>
                                        <div class="social-icons">
                                            <a href="#"><span class="ti-facebook"></span></a>
                                            <a href="#"><span class="ti-dribbble"></span></a>
                                            <a href="#"><span class="ti-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="team" style="background-image: url(../../Content/img/img-testi-1.png)">
                            <div class="hovereffect">
                                <div class="overlay-2">
                                    <div class="content">
                                        <div class="heading">
                                            Rachel Keating
                                            <span class="devider-recent-2"></span>
                                        </div>
                                        <div class="subheading">MANAGING DIRECTOR</div>
                                        <div class="social-icons">
                                            <a href="#"><span class="ti-facebook"></span></a>
                                            <a href="#"><span class="ti-dribbble"></span></a>
                                            <a href="#"><span class="ti-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="team" style="background-image: url(../../Content/img/img-testi-1.png)">
                            <div class="hovereffect">
                                <div class="overlay-2">
                                    <div class="content">
                                        <div class="heading">
                                            Smith Pro
                                            <span class="devider-recent-2"></span>
                                        </div>
                                        <div class="subheading">PRESIDENT DIRECTOR</div>
                                        <div class="social-icons">
                                            <a href="#"><span class="ti-facebook"></span></a>
                                            <a href="#"><span class="ti-dribbble"></span></a>
                                            <a href="#"><span class="ti-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>-->
            <!-- team end -->

        <!--</div>
    </div>
</section>-->
<!-- section team end -->
<script src="~/Content/custom/js/sticky.js"></script>
<script src="~/Content/custom/js/plugin-set.js"></script>
