@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@model ARS.Models.City

<div id="home">
    <!-- revolution slider -->
    <section class="no-top no-bottom" aria-label="section-slider">
        <div class="fullwidthbanner-container">
            <div id="revolution-slider-half">
                <ul>

                    <li data-transition="parallaxtobottom" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                        <!--  BACKGROUND IMAGE -->
                        <img src="~/Content/img/images-slider/img-slide-1.jpg" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="center center" />
                        <div class="tp-caption slide-big-heading sft"
                             data-x="center"
                             data-y="300"
                             data-speed="800"
                             data-start="400"
                             data-easing="easeInOutExpo"
                             data-endspeed="450">
                            Amazing Diversity on Travel
                        </div>

                        <div class="tp-caption slide-sub-heading sft"
                             data-x="center"
                             data-y="370"
                             data-speed="1000"
                             data-start="800"
                             data-easing="easeOutExpo"
                             data-endspeed="400">
                            For your vacations
                        </div>

                        <div class="tp-caption sfb"
                             data-x="center"
                             data-y="410"
                             data-speed="400"
                             data-start="800"
                             data-easing="easeInOutExpo">
                            <div class="btn-slider"><span class="shine"></span><a href="#">More Detail</a></div>
                        </div>

                    </li>

                    <li data-transition="parallaxtobottom" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                        <!--  BACKGROUND IMAGE -->
                        <img src="~/Content/img/images-slider/img-slide-2.jpg" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="center center" />
                        <div class="tp-caption slide-big-heading sft"
                             data-x="center"
                             data-y="300"
                             data-speed="800"
                             data-start="400"
                             data-easing="easeInOutExpo"
                             data-endspeed="450">
                            Perfect Place on Vacation
                        </div>

                        <div class="tp-caption slide-sub-heading sft"
                             data-x="center"
                             data-y="370"
                             data-speed="1000"
                             data-start="800"
                             data-easing="easeOutExpo"
                             data-endspeed="400">
                            Asia, Africa, Australia
                        </div>

                        <div class="tp-caption sfb"
                             data-x="center"
                             data-y="410"
                             data-speed="400"
                             data-start="800"
                             data-easing="easeInOutExpo">
                            <div class="btn-slider"><span class="shine"></span><a href="#">More Detail</a></div>
                        </div>

                    </li>

                    <li data-transition="parallaxtobottom" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                        <!--  BACKGROUND IMAGE -->
                        <img src="~/Content/img/images-slider/img-slide-3.jpg" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="center center" />
                        <div class="tp-caption slide-big-heading sft"
                             data-x="center"
                             data-y="300"
                             data-speed="800"
                             data-start="400"
                             data-easing="easeInOutExpo"
                             data-endspeed="450">
                            The New Adventure Travel
                        </div>

                        <div class="tp-caption slide-sub-heading sft"
                             data-x="center"
                             data-y="370"
                             data-speed="1000"
                             data-start="800"
                             data-easing="easeOutExpo"
                             data-endspeed="400">
                            Discover hidden places in the world
                        </div>

                        <div class="tp-caption sfb"
                             data-x="center"
                             data-y="410"
                             data-speed="400"
                             data-start="800"
                             data-easing="easeInOutExpo">
                            <div class="btn-slider"><span class="shine"></span><a href="#">More Detail</a></div>
                        </div>

                    </li>

                </ul>
                <div class="tp-bannertimer hide"></div>
            </div>
        </div>
    </section>
    <!-- revolution slider end -->

</div>
<section aria-label="milestone" class="no-top no-bottom color-page hidden-sm hidden-xs">
    <div class="container-fluid m-5-hor">
        <div class="row">

            <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="0">
                <div class="box-icon">
                    <span class="icon-choose fa fa-plane"></span>
                    <div class="text">
                        <h3><span>300+ DESTINATION</span></h3>
                        <p>Sed ut perspiciatis</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="150">
                <div class="box-icon">
                    <span class="icon-choose fa fa-credit-card"></span>
                    <div class="text">
                        <h3><span>AFFORDABLE PRICE</span></h3>
                        <p>Sit voluptatem accusantium</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="300">
                <div class="box-icon">
                    <span class="icon-choose fa fa-address-book"></span>
                    <div class="text">
                        <h3><span>GREAT CUSTOMERS</span></h3>
                        <p>perspiciatis unde omnis</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="450">
                <div class="box-icon">
                    <span class="icon-choose fa fa-handshake-o"></span>
                    <div class="text">
                        <h3><span>TRUSTED & SAFE</span></h3>
                        <p>Accusantium natus</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- milestone end -->
<!-- section search -->
<section class="frm-search">
    <div class="container-fluid m-5-hor m-5-hor-dev">
        <div class="row">

            <h2 class="big-heading">Find your adventure with us</h2>

            <form class="form-inline" id="sform" action="/Flight">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <label>Type of Flight</label>
                            <select name="flightType" required="" id="flightType">
                                <option value="1">One way</option>
                                <option value="2">Round Trip </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group" style="position:relative">
                            <div>
                                <label>Select your trip</label>
                                <input type="text" class="form-control" id="departure" disabled="true"> <i id="showDeparture" class="fas fa-plane-departure"></i>
                            </div>
                            <div class="modal fade" id="ModalPopUpDeparture" role="dialog">
                                <div class="modal-dialog err-pop" style="">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 style="color: black;">Airport lookup</h1>
                                            <button id="DivClose" type="button" class="close" style="position: absolute; top: 20px; right: 20px;" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body" style="height: 30vh;width:100%">
                                            <h4 style="color: black;">Please tell us where the airport is located.</h4>
                                            <div class="content" style="display:flex">
                                                <div class="form-group" style="width:50%">
                                                    <label style="color: black;">Country / region</label>
                                                    <div>
                                                        <select class="form-control" id="citiessDropdownDeparture" name="citiessDropdownDeparture"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="width:50%">
                                                    <label style="color: black;">Airport</label>
                                                    <div>
                                                        <select class="form-control" id="dropdownStateDeparture" name="fromAirportId"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <button style="margin-top:15px" type="button" class="btn btn-primary" id="saveDeparture">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group" style="position:relative">
                            <div>
                                <label>Select your arrival</label>
                                <input type="text" class="form-control" id="arrival" disabled="true"> <i id="showArrival" class="fas fa-plane-arrival"></i>
                            </div>
                            <div class="modal fade" id="ModalPopUpArrival" role="dialog">
                                <div class="modal-dialog err-pop" style="">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 style="color: black;">Airport lookup</h1>
                                            <button id="DivClose" type="button" class="close" style="position: absolute; top: 20px; right: 20px;" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body" style="height: 30vh;width:100%">
                                            <h4 style="color: black;">Please tell us where the airport is located.</h4>
                                            <div class="content" style="display:flex">
                                                <div class="form-group" style="width:50%">
                                                    <label style="color: black;">Country / region</label>
                                                    <div id="myForm">
                                                        <select class="form-control" id="citiessDropdownArrival" name="citiessDropdownArrival"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="width:50%">
                                                    <label class="labelDropdown" style="color: black;">Airport</label>
                                                    <div id="myForm">
                                                        <select class="form-control" id="dropdownStateArrival" name="toAirportId"></select>
                                                    </d>
                                                </div>
                                            </div>
                                            <button style="margin-top:15px" type="button" class="btn btn-primary" id="saveArrival">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <label>Number of passengers</label>
                            <select name="NumberOfPassager" required="">
                                <option value="1">1 </option>
                                <option value="2">2 </option>
                                <option value="3">3 </option>
                                <option value="4">4 </option>
                                <option value="5">5 </option>
                                <option value="6">6 </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Depart</label>
                            <div id="filterDate2">
                                <!-- Datepicker as text field -->
                                <div class="input-group" data-date-format="mm/dd/yyyy">
                                    <input type="date" class="form-control" placeholder="mm/dd/yyyy" asp-for="DateTime" required="" name="DepartureDate">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" id="returnClalendar">
                        <div class="form-group">
                            <label>Return</label>
                            <div id="filterDate2">
                                <!-- Datepicker as text field -->
                                <div class="input-group" data-date-format="mm/dd/yyyy">
                                    <input type="date" class="form-control" placeholder="mm/dd/yyyy" asp-for="DateTime" required="" name="returnDate" id="returnDate">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="btn-frm-search" value="FIND NOW" type="submit">
            </form>
        </div>
    </div>
</section>
<!-- section search end -->
<!--  top rated -->
<section aria-label="top-rated">
    <div class="container-fluid m-5-hor">
        <div class="row">
            <div class="col-md-6 sp-padding ">
                <img alt="top-rated" class="img-responsive" src="~/Content/img/img-top-rated.jpg">
            </div>
            <div class="col-md-6 p-30">
                <h3 class="big-heading">Top Rated Our Tours</h3>
                <span class="sub-heading-content">No mei consectetuer</span>
                <span class="devider-left"></span>
                <p>Qui ut ceteros comprehensam. Cu eos sale  sanctus eligendi, id ius elitr saperet,ocurreret  pertinacia pri an. No mei nibh consectetuer</p>
                <div id="tag-country">
                    <a href="#" class="list-country">
                        Europe <sup>(40)tours</sup>
                    </a>
                    <a href="#" class="list-country">
                        Australia <sup>(40)tours</sup>
                    </a>
                    <a href="#" class="list-country">
                        America <sup>(40)tours</sup>
                    </a>
                    <a href="#" class="list-country">
                        Asia <sup>(40)tours</sup>
                    </a>
                    <a href="#" class="list-country">
                        Africa <sup>(40)tours</sup>
                    </a>
                    <a href="#" class="list-country">
                        Japan <sup>(40)tours</sup>
                    </a>
                    <a href="#" class="list-country">
                        Rusian <sup>(40)tours</sup>
                    </a>
                </div>
                <a href="#" class="btn-content">
                    ALL DESTINATION
                </a>
            </div>
        </div>
    </div>
</section>
<!--  top rated end -->
<!-- section features -->
<section class="whitepage no-bottom no-top no-padding">
    <div class="container-fluid">
        <div class="row">

            <div class="no-gutter">

                <div class="col-md-4">
                    <div class="features no-margin">
                        <div class="bg-img">
                            <h3 class="big-heading">ASIA <sup class="subtour">7 Tours</sup></h3>
                            <p class="content">
                                Qui ut ceteros comprehensam. Cu eos sale
                                sanctus eligendi, id ius elitr saperet,ocurreret
                                pertinacia pri an. No mei nibh consectetuer
                            </p>
                            <a href="#"><span class="shine"></span>View More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="features no-margin">
                        <div class="bg-img-1">
                            <h3 class="big-heading">EUROPE <sup class="subtour">9 Tours</sup></h3>
                            <p class="content">
                                Qui ut ceteros comprehensam. Cu eos sale
                                sanctus eligendi, id ius elitr saperet,ocurreret
                                pertinacia pri an. No mei nibh consectetuer
                            </p>
                            <a href="#"><span class="shine"></span>View More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="features no-margin">
                        <div class="bg-img-2">
                            <h3 class="big-heading">AFRICA <sup class="subtour">12 Tours</sup></h3>
                            <p class="content">
                                Qui ut ceteros comprehensam. Cu eos sale
                                sanctus eligendi, id ius elitr saperet,ocurreret
                                pertinacia pri an. No mei nibh consectetuer
                            </p>
                            <a href="#"><span class="shine"></span>View More</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- section features end -->
<!-- testimony -->
<section id="testimony" class="color-page no-padding">
    <div class="container-fluid">
        <div class="row">

            <div class="image-container autoheight col-lg-6 pull-right hidden-md hidden-sm hidden-xs onStep" data-animation="fadeInRight" data-time="300"></div>

            <div class="col-lg-6 col-md-12 autoheight">

                <div class="p-90">
                    <div id="owl-testimonial" class="owl-carousel owl-theme">

                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                            </blockquote>
                            <img alt="imagetesti" class="tal" src="~/Content/img/img-testi-1.png">
                            <h3>Emma Watson</h3>
                        </div>

                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                            </blockquote>
                            <img alt="imagetesti" class="tal" src="~/Content/img/img-testi-1.png">
                            <h3>Emma Watson</h3>
                        </div>

                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                            </blockquote>
                            <img alt="imagetesti" class="tal" src="~/Content/img/img-testi-1.png">
                            <h3>Emma Watson</h3>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- testimony end -->
<!--  gallery home -->
<section aria-label="gallery">
    <div class="container-fluid m-5-hor">
        <div class="row">

        </div>
    </div>

    <div class="onStep" data-animation="fadeInUp" data-time="0">
        <div id="owl-gal" class="owl-carousel">

            <div class="item">
                <div class="gal-home">
                    <a href="projects-detail.html">
                        <div class="hovereffect">
                            <img alt="imageportofolio" class="img-responsive" src="~/Content/img/gallery-home/img1.jpg">
                        </div>
                        <div class="gal-home-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Blue Ocean Island</h4>
                                    <p>Duration 5 days</p>
                                    <div class="star-content">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-cont big-heading">1 Reviews</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="heading-price">From</div>
                                    <div class="price big-heading">$ 1200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="gal-home">
                    <a href="projects-detail.html">
                        <div class="hovereffect">
                            <img alt="imageportofolio" class="img-responsive" src="~/Content/img/gallery-home/img2.jpg">
                        </div>
                        <div class="gal-home-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Luxury Asia Travel</h4>
                                    <p>Duration 5 days</p>
                                    <div class="star-content">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-cont big-heading">1 Reviews</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="heading-price">From</div>
                                    <div class="price big-heading">$ 1200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="gal-home">
                    <a href="projects-detail.html">
                        <div class="hovereffect">
                            <img alt="imageportofolio" class="img-responsive" src="~/Content/img/gallery-home/img3.jpg">
                        </div>
                        <div class="gal-home-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Wild Tour Africa</h4>
                                    <p>Duration 5 days</p>
                                    <div class="star-content">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-cont big-heading">1 Reviews</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="heading-price">From</div>
                                    <div class="price big-heading">$ 1200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="gal-home">
                    <a href="projects-detail.html">
                        <div class="hovereffect">
                            <img alt="imageportofolio" class="img-responsive" src="~/Content/img/gallery-home/img4.jpg">
                        </div>
                        <div class="gal-home-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Amazing Diversity Place</h4>
                                    <p>Duration 5 days</p>
                                    <div class="star-content">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-cont big-heading">1 Reviews</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="heading-price">From</div>
                                    <div class="price big-heading">$ 1200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="gal-home">
                    <a href="projects-detail.html">
                        <div class="hovereffect">
                            <img alt="imageportofolio" class="img-responsive" src="~/Content/img/gallery-home/img5.jpg">
                        </div>
                        <div class="gal-home-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>The Kingdom of West</h4>
                                    <p>Duration 5 days</p>
                                    <div class="star-content">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-cont big-heading">1 Reviews</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="heading-price">From</div>
                                    <div class="price big-heading">$ 1200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="gal-home">
                    <a href="projects-detail.html">
                        <div class="hovereffect">
                            <img alt="imageportofolio" class="img-responsive" src="~/Content/img/gallery-home/img6.jpg">
                        </div>
                        <div class="gal-home-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>An Asian Temple</h4>
                                    <p>Duration 5 days</p>
                                    <div class="star-content">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="review-cont big-heading">1 Reviews</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="heading-price">From</div>
                                    <div class="price big-heading">$ 1200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

@*<script src="bootstrap/js/bootstrap.min.js"></script>*@
@*<script>
    $('.datepicker').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss'
    });
</script>*@
<style>
    .showDropdown{
        display:block
    }
    .hideDropdown{
        display:none;
    }
</style>
<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="https://use.fontawesome.com/eac163b655.js"></script>
<script>
    $(document).ready(function () {
        //call Ajax with departure
        $("#showDeparture").click(function () {
            $('#ModalPopUpDeparture').modal('show');
            $('#citiessDropdownDeparture').empty();
            $('#dropdownStateDeparture').empty();
            $.ajax({
                type: "GET",
                url: "/Home/CitiesJsonDeparture",
                datatype: "Json",
                success: function (data) {
                    console.log(data);
                    var s = '<option value="-1">Please Select a City</option>';
                    $.each(data, function (index, value) {
                        s += '<option value="' + value.Id + '">' + value.Name + '</option>';
                    });
                    $('#citiessDropdownDeparture').append(s)
                }
            });

            $('#citiessDropdownDeparture').change(function () {
                $('#dropdownStateDeparture').empty();
                $.ajax({
                    type: "POST",
                    url: "/Home/AirportsJsonDeparture",
                    datatype: "Json",
                    data: { cityId: $('#citiessDropdownDeparture').val() },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('#dropdownStateDeparture').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                        });
                    }
                });
            });
        });
        $("#saveDeparture").click(function () {
            $('#ModalPopUpDeparture').modal('hide');
            $('#ModalPopUpDeparture').on('hidden.bs.modal', function (e) {
                console.log('abc')
                var sel = $('#dropdownStateDeparture option:selected').val();
                var result = $('#dropdownStateDeparture option:selected').text();
                $('#departure').val(result)
            });

        })
        //call Ajax with arrival
        $("#showArrival").click(function () {
            $('#ModalPopUpArrival').modal('show');
            $('#citiessDropdownArrival').empty();
            $('#dropdownStateArrival').empty();
            $.ajax({
                type: "GET",
                url: "/Home/CitiesJsonDeparture",
                datatype: "Json",
                success: function (data) {
                    var s = '<option value="-1">Please Select a City</option>';
                    $.each(data, function (index, value) {
                        s += '<option value="' + value.Id + '">' + value.Name + '</option>';
                    });
                    $('#citiessDropdownArrival').append(s)
                }
            });

            $('#citiessDropdownArrival').change(function () {
                $('#dropdownStateArrival').empty();
                $.ajax({
                    type: "POST",
                    url: "/Home/AirportsJsonArrival",
                    datatype: "Json",
                    data: { cityId: $('#citiessDropdownArrival').val() },
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (index, value) {
                            console.log(value.NearBy, value.NearBy == true)
                            if (value.NearBy === 'true') {
                                $('.labelDropdown').text = "abc"
                            }
                            $('#dropdownStateArrival').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                        });
                    }
                });
            });
        });
        $("#saveArrival").click(function () {
            $('#ModalPopUpArrival').modal('hide');
            $('#ModalPopUpArrival').on('hidden.bs.modal', function (e) {
                console.log('abc')
                var sel = $('#dropdownStateArrival option:selected').val();
                var result = $('#dropdownStateArrival option:selected').text();
                $('#arrival').val(result)
            });

        })
        var selWay = $('#flightType option:selected').val();
        if (selWay === "1") {
            $('#returnClalendar').addClass('hideDropdown');
            $('#returnDate').removeAttr('required') 
        }
        $('#flightType').change(function () {
            var selWay = $('#flightType option:selected').val();
            if (selWay === "1") {
                $('#returnClalendar').addClass('hideDropdown');
                $('#returnDate').removeAttr('required') 
                
            } else {
                $('#returnClalendar').removeClass('hideDropdown')
                $('#returnClalendar').addClass('showDropdown')
            }
        })
    });
</script>

