<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>WSS</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body itemscope=itemscope itemtype="http://schema.org/EmailMessage" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Traverler</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <div class="col-md-6">
                            <span>Passengers</span>
                            <span><strong>Hoang Tran</strong></span>
                        </div>
                        <div class="col-md-6">
                            <span>Reservation number</span>
                            <span><strong>HTL1211</strong></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <ul class="tickets-list">
            <li>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="airport" scope="col" colspan="4">
                                <div class="col-md-12">
                                    <i class="fas fa-plane"></i>
                                    <span class="airport-name"> flight - thai airways intl public co ltd (tg) 111 - dec 22,2021</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" class="detail1" scope="row">
                                <div class="col1">
                                    <span>Thai Airways Intl Public Co Ltd (TG)</span>
                                </div>
                                <div class="col1-1">
                                    <div class="col1-2">
                                        <span>Flight number:</span>
                                        <span>Airline code:</span>
                                        <span>Status:</span>
                                        <span>Duration:</span>
                                    </div>
                                    <div class="col1-2">
                                        <strong>TG - 111</strong>
                                        <strong>KAI87M</strong>
                                        <strong>Confirmed</strong>
                                        <strong>1H 15M</strong>
                                    </div>
                                </div>
                            </td>
                            <td rowspan="1" colspan="2">
                                <div class="col2">
                                    <div class="col2-1">
                                        <span style="font-weight: normal;">Depart</span>
                                        <span style="font-size: 20px"><strong>CNX</strong></span>
                                    </div>
                                    <div class="col2-1">
                                        <span aria-hidden="true" class="ti-control-play" style="margin-top: 3px;" />
                                    </div>
                                    <div class="col2-1">
                                        <span style="font-weight: normal;">Arrive</span>
                                        <span style="font-size: 20px"><strong>BKK</strong></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</body>
</html>