<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Online Ticket-Itinerary</title>
</head>
<body style="box-sizing: border-box;">
    <div style="font-family: 'Poppins', sans-serif; font-size: 13px; line-height: 1.9em; font-style: normal; font-weight: normal; letter-spacing: .6px; color: #4e4e4e; background: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; ">
        <div style="padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
            <h2>Your Online Ticket-Itinerary</h2>
            <div style="margin-right: -15px; margin-left: -15px;">
                <table style="border: 1px solid #ddd; width: 100%; max-width: 100%; margin-bottom: 20px; border-collapse: collapse; margin: 0 0 1.5em; border-spacing: 0; text-indent: initial;">
                    <thead style="display: table-header-group; vertical-align: middle; border-color: inherit;">
                        <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">
                            <th scope="col" style="background-color: #ddd; font-size: 17px; border-top: 0; border-bottom-width: 2px; border: 1px solid #ddd; vertical-align: bottom;">Traverler</th>
                        </tr>
                    </thead>
                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                        <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">
                            <td scope="row" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; display: table-cell;">
                                <div class="col-md-4" style="display: grid; width: 30%; float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                                    <span>Passengers</span>
                                    <!--First + Last name user-->
                                    <span><strong>{userFullName}</strong></span>
                                </div>
                                <div class="col-md-4" style="display: grid; width: 30%; float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                                    <span>{numberType} number</span>
                                    <!--Ma confirm-->
                                    <span><strong>{number}</strong></span>
                                </div>
                                <div class="col-md-4" style="display: grid; width: 30%; float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                                    <span>Price paid</span>
                                    <!--Tong tien da thanh toan-->
                                    <span><strong>$ {totalPrice}</strong></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <!--@foreach (var items in Model.Tickets)
                {-->
                <table style="border: 1px solid #ddd; width: 100%; max-width: 100%; margin-bottom: 20px; border-collapse: collapse; margin: 0 0 1.5em; border-spacing: 0; text-indent: initial;">
                    <thead style="display: table-header-group; vertical-align: middle; border-color: inherit;">
                        <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">
                            <th scope="col" colspan="4" style="background-color: #ddd; font-size: 17px; border-top: 0; border-bottom-width: 2px; border: 1px solid #ddd; vertical-align: bottom;">
                                <!--Ten san bay - Ngay khoi hanh-->
                                <span style="padding-left: 30px; text-transform: uppercase; font-size: 17px;"><strong>flight - KEANGNAM TOWER A HELIPAD - SATURDAY, APRIL 10, 2021</strong></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                        <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">
                            <td rowspan="2" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; display: table-cell;">
                                <div style="padding-bottom: 20px; text-align: center; padding-top: 20px;">
                                    <!--Ten san bay-->
                                    <span>Keangnam Tower A Helipad</span>
                                </div>
                                <div style="display: flex; padding: 0 20px 10px 20px;">
                                    <div style="width: 50%; display: grid;">
                                        <span>Flight number:</span>
                                        <span>Airline code:</span>
                                        <span>Status:</span>
                                        <span>Duration:</span>
                                    </div>
                                    <div style="width: 50%; display: grid;">
                                        <!--Ma may bay-->
                                        <strong>HK-01</strong>
                                        <!--Ma san bay-->
                                        <strong>VOCI</strong>
                                        <strong>Confirmed</strong>
                                        <!--Thoi gian chuyen bay-->
                                        <strong>11</strong>
                                    </div>
                                </div>
                            </td>
                            <td colspan="2" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; display: table-cell;">
                                <div style="display: flex;">
                                    <div style="display: grid; padding: 20px; width: 40%;">
                                        <span style="font-weight: normal;">Depart</span>
                                        <!--Ma san bay di-->
                                        <span style="font-size: 20px"><strong>VOCI</strong></span>
                                    </div>
                                    <div style="display: grid; padding: 20px;  width: 10%;">
                                        
                                    </div>
                                    <div style="display: grid; padding: 20px; width: 50%;">
                                        <span style="font-weight: normal;">Arrive</span>
                                        <!--Ma san bay den-->
                                        <span style="font-size: 20px"><strong>VN-0015</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td rowspan="2" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; display: table-cell;">
                                <div style="display: grid; padding: 20px;">
                                    <span>Class of service:</span>
                                    <!--Hang ghe-->
                                    <span><strong>Bussiness</strong></span>
                                    <!--@if (items.Seat.classType == 1)
                                    {
                                        <span><strong>Bussiness</strong></span>
                                    }
                                    else if (items.Seat.classType == 2)
                                    {
                                        <span><strong>First Class</strong></span>
                                    }
                                    else if (items.Seat.classType == 3)
                                    {
                                        <span><strong>Club Class</strong></span>
                                    }
                                    else if (items.Seat.classType == 4)
                                    {
                                        <span><strong>Smoking</strong></span>
                                    }
                                    else
                                    {
                                        <span><strong>Non-Smoking</strong></span>
                                    }-->
                                    <span>Seat:</span>
                                    <!--So ghe-->
                                    <span><strong>1A</strong></span>
                                    <br />
                                    <span><strong>Check-in required</strong></span>
                                </div>
                            </td>
                        </tr>
                        <tr style="display: flex !important; display: table-row; vertical-align: inherit; border-color: inherit;">
                            <td style="display: grid !important; width: 50%; padding: 20px !important; border-right: 1px solid #ddd; line-height: 1.42857143; vertical-align: top; display: table-cell;">
                                <!--Ten san bay-->
                                <span>Cochin International Airport</span>
                                <!--Thanh pho-->
                                <span>Kochi</span>
                                <!--Thoi gian xuat phat-->
                                <span style="font-size: 20px"><strong>12:00 AM</strong></span>
                                <!--Ngay xuat phat-->
                                <span>Saturday, April 10, 2021</span>
                            </td>
                            <td style="display: grid !important; width: 50%; padding: 20px !important; border: unset !important; line-height: 1.42857143; vertical-align: top; display: table-cell;">
                                <!--Ten san bay-->
                                <span>Keangnam Tower A Helipad</span>
                                <!--Thanh pho-->
                                <span>Ha Noi</span>
                                <!--Thoi gian xuat phat-->
                                <span style="font-size: 20px"><strong>12:00 AM</strong></span>
                                <!--Ngay xuat phat-->
                                <span>Sunday, April 11, 2021</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--  }-->
            </div>
        </div>
    </div>
</body>
</html>
