@model ARS.Controllers.FlightSearchListModel

@{
    ViewBag.Title = "Choose Flights";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="body container">
    @*<h2>@Model.FirstOrDefault().FromAirport.CityAirports.First().City.name</h2>*@
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <form action="/Flight/PaymentWithPayPal/2" method="post">
        <input type="text" name="orderSeat" value="16A,16B,15A,15B," />
        <input type="text" name="returnId" value="3" />
        <input type="text" name="orderSeatReturn" value="14A,14B,15A,15B," />
        <input type="text" name="flightType" value="2" />
        <button>submit</button>
    </form>
</div>